body{
    min-height: 100vh;
    display: flex;
    background-image: url(pictures/RECORDS.jpg);
    background-size: cover;
    background-position: center;    
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}
header h1{
    font-family: "Old English Text MT"; src: url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.eot"); src: url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.woff") format("woff"), url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.svg#Old English Text MT") format("svg");;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;

}
.form label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(255, 252, 252);
    font-size: 17px;
    font-weight: bold;
}
.form input{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 3mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: size 2em;
    margin-bottom: 10px;
}
.form :placeholder-shown{
    font-style: italic;
    font-size: small;
}
.form :where(input, button){
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    align-items: center;
}
.form button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold ;
    color:rgb(10, 102, 194);
    cursor: pointer;
    background-color:white;
    margin-top: 2mm;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 5mm;
    border-width: 1mm;
    width: 50%;
    height: 40px;
    padding: 3mm;
    text-align: center;
    cursor: pointer;
    transition: ease-in-out background-color 0.3s;    
    outline: none;
}
.form button:hover{
    background-color:rgb(47, 132, 218) ;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}